.top {
    background: url('https://images.squarespace-cdn.com/content/v1/600dd33c276d9d4dbba3cc19/cb1ef544-618b-4f79-a85f-f42f32356ff6/FBB2CF51-C203-4AFC-B952-6AC882FC8BF8.jpeg?format=2500w') no-repeat center/cover;
    display: flex;
    width: 100%;
    height: 500px;
}

.top_title {
    width: 50%;
    background-color:#faecd6d6;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.9) 0px 8px 24px;
    max-width: 300px;
    width: 100%;
    margin: auto;
    margin-top: 4%;
    padding: 6px 15px;
    text-align: center;
}

.tan {
    font-size: 2rem;
    padding: 40px;
    text-align: center;
    color: #473C33;
    background-color:#faecd6d6;
}

.tan h3, p {
    margin-bottom: 30px;
}

.tan img {
    border-radius: 10px;
    height: auto;
    width: 70%;
    margin-bottom: 30px;
}

.green {
    background-color: #4E6C50;
    width: 100%;
    font-size: 2rem;
    padding: 40px;
    text-align: center;
    color: #FAECD6;
}

.img1 {
    height: auto;
    width: 30%;  
    border-radius: 10px;
    margin-bottom: 30px;
}

.green p {
    color: #FAECD6;
}

.img2 {
    height: auto;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 850px) {
    .img1 {
        height: auto;
        width: 70%;
    }
}


