.container {
    background-color: #FAECD6;
    color: rgb(36, 34, 34);
    
}

.top {
    background: url('https://images.squarespace-cdn.com/content/v1/600dd33c276d9d4dbba3cc19/c036a4d8-ec40-42bf-bcc1-c8be4c09a7b2/80DDBA33-949A-4CB2-AA25-1DDFFE87D0DF.jpeg?format=2500w') no-repeat center/cover;
    display: flex;
    width: 100%;
    height: 500px;
}

.top_title {
    width: 50%;
    background-color:#faecd6d6;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.9) 0px 8px 24px;
    max-width: 500px;
    width: 100%;
    margin: auto;
    margin-top: 4%;
    padding: 6px 15px;
    text-align: center;
}

.about_container {
    margin: 30px;
    text-align: center;
    color: #473C33;
}

.about_title {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 2rem;
    text-align: center;
}

.about {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 80px;
    margin-bottom: 80px;
}

.about_content {
    font-size: 2rem;
    padding: 10px;
}

.about_content i {
    padding: 20px;
}

.space {
    height: 50px;
}

.sale {
    background-color: #4E6C50;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sale_content {
    font-size: 2rem;
    padding: 40px;
    text-align: center;
    color: #FAECD6;
}

.final_container {
    background-color: #4E6C50;
    display: flex;
    flex-direction: column;

    width: 100%;
}

.final_content {
    font-size: 2rem;
    padding: 40px;
    text-align: center;
    color: #FAECD6;
}

.final_icons {
    text-align: center;
}

.final_icons i {
    font-size: 2rem;
    padding: 20px 100px;
    color: #FAECD6;
}

.final_icons i:hover {
    font-size: 3rem;
    color: #820000;
    cursor: pointer;
}

/* @media screen and (max-width: 1000px) {
    .sale {
        height: 600px;
    }
    
    .final_container {
        height: 800px;
    }
} */