
.top {
    background: url('https://images.squarespace-cdn.com/content/v1/600dd33c276d9d4dbba3cc19/1632336107819-N6CSBBBVGEWJXCT8C8TC/20210417_160631.jpg?format=2500w') no-repeat center/cover;
    display: flex;
    width: 100%;
    height: 500px;
}

.top_title {
    width: 20%;
    background-color:#faecd6d6;
    border-radius: 25px;
    box-shadow: rgba(0,0,0,0.9) 0px 8px 24px;
    max-width: 230px;
    width: 100%;
    margin: auto;
    margin-top: 4%;
    padding: 6px 15px;
    text-align: center;
}

.tan_1 {
    background-color:#faecd6d6;
    padding: 40px;
    text-align: center;
    font-size: 2rem;
    color: #473C33;
}

.image_author {
    text-align: left;
    font-size: 1rem;
    margin: -20px;
}

.tan_1_title {
    margin-top: 40px;
    margin-bottom: 30px;
}

.tan_1 p {
    margin-bottom: 30px;
}

.green_1 {
    background-color: #4E6C50;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    padding: 40px;
    text-align: center;
    color: #FAECD6;
}

.green_1 p {
    margin-bottom: 30px;
}

.green_1_title {
    margin-bottom: 30px;
    margin-top: 40px;
}

.tan_2 {
    background-color:#faecd6d6;
    padding: 40px;
    text-align: center;
    font-size: 2rem;
    color: #473C33;
}

.tan_2_content {
    margin-bottom: 30px;
    margin-top: 40px;
}




